<div class="w-full | pt-1 pb-2 | flex flex-wrap items-center justify-start">
  <div class="w-1/2 | grid grid-cols-2 gap-2">
    <span>Change today: {{ stock.c }}%</span>
    <span>Opening price: ${{ stock.o }}</span>
    <span>Current price: ${{ stock.c }}</span>
    <span>High price: ${{ stock.h }}</span>
  </div>

  <div class="w-1/2 | flex items-center justify-center">
    <svg
      *ngIf="trendingUp"
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-trending-up"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#00b341"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <polyline points="3 17 9 11 13 15 21 7" />
      <polyline points="14 7 21 7 21 14" />
    </svg>

    <svg
      *ngIf="!trendingUp"
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-trending-down"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#ff2825"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <polyline points="3 7 9 13 13 9 21 17" />
      <polyline points="21 10 21 17 14 17" />
    </svg>
  </div>
</div>
